*/figs/*
*.pyc
*.pickle
hcv_multi/test.py
*.db
*/*.egg-info
*.pyc
*/autocalibration_tool/*
.idea
/.github/prompts
test.xlsx
test.py
/calibration/plots
scaleup_results_v4.xlsx
/databooks/
/calibration/
/results
/results
results/calibration/y-factors/ZAF_calibration.xlsx
results/calibration/y-factors/YEM_calibration.xlsx
results/calibration/y-factors/VUT_calibration.xlsx
results/calibration/y-factors/VNM_calibration.xlsx
results/calibration/y-factors/VEN_calibration.xlsx
results/calibration/y-factors/UZB_calibration.xlsx
results/calibration/y-factors/USA_calibration.xlsx
results/calibration/y-factors/UKR_calibration.xlsx
results/calibration/y-factors/UGA_calibration.xlsx
results/calibration/y-factors/TZA_calibration.xlsx
results/calibration/y-factors/TWN_calibration.xlsx
results/calibration/y-factors/TUR_calibration.xlsx
results/calibration/y-factors/TUN_calibration.xlsx
results/calibration/y-factors/TJK_calibration.xlsx
results/calibration/y-factors/THA_calibration.xlsx
results/calibration/y-factors/TCD_calibration.xlsx
results/calibration/y-factors/SYR_calibration.xlsx
results/calibration/y-factors/SWE_calibration.xlsx
results/calibration/y-factors/SVN_calibration.xlsx
results/calibration/y-factors/SVK_calibration.xlsx
results/calibration/y-factors/SLV_calibration.xlsx
results/calibration/y-factors/SDN_calibration.xlsx
results/calibration/y-factors/SAU_calibration.xlsx
results/calibration/y-factors/RWA_calibration.xlsx
results/calibration/y-factors/RUS_calibration.xlsx
results/calibration/y-factors/ROU_calibration.xlsx
results/calibration/y-factors/QAT_calibration.xlsx
results/calibration/y-factors/PRT_calibration.xlsx
results/calibration/y-factors/PRI_calibration.xlsx
results/calibration/y-factors/POL_calibration.xlsx
results/calibration/y-factors/PNG_calibration.xlsx
results/calibration/y-factors/PHL_calibration.xlsx
results/calibration/y-factors/PER_calibration.xlsx
results/calibration/y-factors/PAN_calibration.xlsx
results/calibration/y-factors/PAK_calibration.xlsx
results/calibration/y-factors/OMN_calibration.xlsx
results/calibration/y-factors/NZL_calibration.xlsx
results/calibration/y-factors/NPL_calibration.xlsx
results/calibration/y-factors/NOR_calibration.xlsx
results/calibration/y-factors/NLD_calibration.xlsx
results/calibration/y-factors/NGA_calibration.xlsx
results/calibration/y-factors/MYS_calibration.xlsx
results/calibration/y-factors/MOZ_calibration.xlsx
results/calibration/y-factors/MNG_calibration.xlsx
results/calibration/y-factors/MLT_calibration.xlsx
results/calibration/y-factors/MEX_calibration.xlsx
results/calibration/y-factors/MDG_calibration.xlsx
results/calibration/y-factors/MDA_calibration.xlsx
results/calibration/y-factors/MAR_calibration.xlsx
results/calibration/y-factors/LVA_calibration.xlsx
results/calibration/y-factors/LUX_calibration.xlsx
results/calibration/y-factors/LTU_calibration.xlsx
results/calibration/y-factors/LBY_calibration.xlsx
results/calibration/y-factors/LBN_calibration.xlsx
results/calibration/y-factors/KOR_calibration.xlsx
results/calibration/y-factors/KHM_calibration.xlsx
results/calibration/y-factors/KGZ_calibration.xlsx
results/calibration/y-factors/KEN_calibration.xlsx
results/calibration/y-factors/KAZ_calibration.xlsx
results/calibration/y-factors/JPN_calibration.xlsx
results/calibration/y-factors/JOR_calibration.xlsx
results/calibration/y-factors/ITA_calibration.xlsx
results/calibration/y-factors/ISR_calibration.xlsx
results/calibration/y-factors/ISL_calibration.xlsx
results/calibration/y-factors/IRQ_calibration.xlsx
results/calibration/y-factors/IRN_calibration.xlsx
results/calibration/y-factors/IRL_calibration.xlsx
results/calibration/y-factors/IND_calibration.xlsx
results/calibration/y-factors/IDN_calibration.xlsx
results/calibration/y-factors/HUN_calibration.xlsx
results/calibration/y-factors/HRV_calibration.xlsx
results/calibration/y-factors/GRC_calibration.xlsx
results/calibration/y-factors/GMB_calibration.xlsx
results/calibration/y-factors/GHA_calibration.xlsx
results/calibration/y-factors/GEO_calibration.xlsx
results/calibration/y-factors/GBR_calibration.xlsx
results/calibration/y-factors/GAB_calibration.xlsx
results/calibration/y-factors/FRA_calibration.xlsx
results/calibration/y-factors/FJI_calibration.xlsx
results/calibration/y-factors/FIN_calibration.xlsx
results/calibration/y-factors/ETH_calibration.xlsx
results/calibration/y-factors/EST_calibration.xlsx
results/calibration/y-factors/ESP_calibration.xlsx
results/calibration/y-factors/EGY_calibration.xlsx
results/calibration/y-factors/ECU_calibration.xlsx
results/calibration/y-factors/DZA_calibration.xlsx
results/calibration/y-factors/DOM_calibration.xlsx
results/calibration/y-factors/DNK_calibration.xlsx
results/calibration/y-factors/DEU_calibration.xlsx
results/calibration/y-factors/CZE_calibration.xlsx
results/calibration/y-factors/CUB_calibration.xlsx
results/calibration/y-factors/COL_calibration.xlsx
results/calibration/y-factors/COD_calibration.xlsx
results/calibration/y-factors/CMR_calibration.xlsx
results/calibration/y-factors/CHN_calibration.xlsx
results/calibration/y-factors/CHL_calibration.xlsx
results/calibration/y-factors/CHE_calibration.xlsx
results/calibration/y-factors/CAN_calibration.xlsx
results/calibration/y-factors/CAF_calibration.xlsx
results/calibration/y-factors/BTN_calibration.xlsx
results/calibration/y-factors/BRA_calibration.xlsx
results/calibration/y-factors/BHR_calibration.xlsx
results/calibration/y-factors/BGR_calibration.xlsx
results/calibration/y-factors/BGD_calibration.xlsx
results/calibration/y-factors/BFA_calibration.xlsx
results/calibration/y-factors/BEN_calibration.xlsx
results/calibration/y-factors/BEL_calibration.xlsx
results/calibration/y-factors/BDI_calibration.xlsx
results/calibration/y-factors/AZE_calibration.xlsx
results/calibration/y-factors/AUT_calibration.xlsx
results/calibration/y-factors/AUS_calibration.xlsx
results/calibration/y-factors/ARM_calibration.xlsx
results/calibration/y-factors/ARG_calibration.xlsx
results/calibration/y-factors/ARE_calibration.xlsx
results/calibration/y-factors/ALB_calibration.xlsx
results/calibration/y-factors/AFG_calibration.xlsx
